<p>
  <strong>Title:</strong>
  <%= @ad.title %>
</p>

<p>
  <strong>Descripton:</strong>
  <%= @ad.description %>
</p>
<p>
  <strong>Contact_details:</strong>
  <%= @ad.contact_details %>
</p>
