<h1><%= @user.name %></h1>

<% if @user.ads.any? %>
    <table>
      <tr>
        <th>Title</th>
      </tr>
      <tr>
      <td>
     <ol><%= render @ads %></ol>
      </td>
      </tr>
    </table>
<% end %>
<%= link_to "create new Ad", root_url %>